In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/추천 시스템 입문편/data/ml-latest-small/movies.csv')
movies.sample()

      movieId                    title                        genres
4691     7004  Kindergarten Cop (1990)  Action|Comedy|Crime|Thriller

In [6]:
# 영화 메타 데이터에서 개봉 연도를 가져오기
movies['year'] = movies['title'].str.extract('(\(\d\d\d\d\))')
movies['year']

0       (1995)
1       (1995)
2       (1995)
3       (1995)
4       (1995)
         ...
9737    (2017)
9738    (2017)
9739    (2017)
9740    (2018)
9741    (1991)
Name: year, Length: 9742, dtype: object

In [8]:
movies['year'] = movies['year'].str.extract('(\d\d\d\d)')
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017
9739,193585,Flint (2017),Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991